.chatlist {
  &-item {
    align-items: center;
  }
  &-content {
    width: 100%;
    padding: .5rem 0;
    cursor: pointer;

    &-msg {
      font-size: .8rem
    }

    &-title {
      margin-bottom: 0 !important;
      color: #F5F5F5;
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;
  }
  &-refresh {
    align-self: flex-center;
    margin-top: 0 !important;
    padding: 1rem;
    border-top: none !important;

    &-icon {
      color: #363636;
    }

    &-icon:hover {
      color: #FF2B56 !important;
    }
  }
  &-heading {
    padding: 1.2rem;
  }
}
.inbox {
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  border-radius: 1rem;
  background-color: #F5F5F5;
  &-home {
    min-height: 70vh;
    text-align: center;
    padding-top: 3rem;
  }
  &-messages {
    &-user {
      background-color: #FF2B56 !important;
      color: #F5F5F5;
    }
  }
  &-chatlist {
      max-height: 5vw;
      min-height: 70vh;
      overflow-y: auto;
      padding: 1rem;
  }
}

.selected-div {
  background-color: rgb(255, 43, 86, 0.1);
  border-radius: .5rem;
  border-right: 5px solid #FF2B56;
  padding-left: .5rem;
}

.auto-first-div {
  height: calc(60vh -50px -64px -7vh -27px) !important;
  .react-auto-scroll__scroll-container {
    height: calc(60vh -50px -64px -7vh -27px) !important;
    padding: .5rem;
  }
}

.react-auto-scroll__option-input, .react-auto-scroll__option-text {
  display: none;
}

@media (max-width: 800px) {
  .inbox-chatlist {
    border-bottom: 5px solid #FF2B56;
    min-height: 30vh;
    overflow-y: auto;
  }
}
