.app {
  margin:auto;
  display: flex;
  flex-direction: column;
  background-color: #363738;
};

.profile-container {
  background-color: #fff;
  height: 100%;
};

.card {
  height: 100%;
}

.picture-profile {
  display: flex;
  justify-content: center;
};

input[type=radio] {
  margin: 0 1rem !important;
};

.navbar-link:not(.is-arrowless):after {
  border-color: rgba(54,54,54,.9);
};


.profile-iconic {
  padding-right: 1rem;
}

textarea,
.textarea {
  min-height: inherit;
  height: auto;
}

.tags, .is-grouped {
  margin-bottom: 0 !important;
}

.edit-picture {
  margin-top: -3rem;
  margin-left: -1rem;
  z-index: 999999;
}

.about-icons {
  padding-left: 1rem;
  margin-right: 1.5rem;
  color: #363636;
}

.about-icons:hover {
  color: #FF2B56;
}

.is-multiline, .media-content {
  overflow: hidden;
}

.container-home {
  background-image: url('../../assets/images/wave.svg');
  background-position: top;
  background-repeat: no-repeat;
}

.container-login {
  background-image: url('../../assets/images/shape3.png');
  background-position: center;
  background-repeat: no-repeat;
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/loading.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
}

.container-signup {
  background-image: url('../../assets/images/shape5.png');
  background-position: center;
  background-repeat: no-repeat;
}

.container-about {
  background-image: url('../../assets/images/shape-corner4.png');
  background-position: top left;
  background-repeat: no-repeat;
}

.container-profile {
  background-image: url('../../assets/images/shape-corner1.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-search {
  background-image: url('../../assets/images/shape-corner2.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-map {
  background-image: url('../../assets/images/shape-corner3.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.container-inbox {
  background-image: url('../../assets/images/shape-corner5.png');
  background-position: top left;
  background-repeat: no-repeat;
}

.container-contact {
  background-image: url('../../assets/images/shape4.png');
  background-position: center;
  background-repeat: no-repeat;
}

.navbar.is-danger {
  background-color: rgba(0,0,0,0) !important;
}

.title.is-3 {
  padding-top: 1rem;
}

.navbar.is-danger {
  background-color: #FF2B56 !important;
}

.pagination-link.is-current {
  background-color: #f5f5f5 !important;
  color: #363738 !important;
  border-color: #f5f5f5 !important;
}

.button-reset {
  opacity: 0;
  cursor: default;
}

.modal-background {
  background-color: rgba(0,0,0,0.4) !important;
}