.main {
  &-left-image {
    background-image: url("../../assets/images/pair.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 5rem;
  }
  &-right-image {
    background-image: url("../../assets/images/seul.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 5rem;
  }
  &-page {
    margin: 8rem 0;
  }
  &-paragraph {
    &-title {
      letter-spacing: .3rem;
      text-transform: uppercase;
      padding-top: 8rem;
    }
    &-content {
      color: #525252;
      padding: 1rem;
      background-color: #F5F5F5;
      border-radius: 3rem;
      line-height: 1.5rem;
    }
  }
  &-title {
    letter-spacing: .5rem;
    text-transform: uppercase;
    &-sub {
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: #FF2B56 !important;
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
  }

  &-arrow {
    margin-top: 5rem;
  }
}

@media (max-width: 800px) {
  .main-left-image, .main-right-image {      
     background: none;
     overflow: visible !important;
  }
  .main-title, .main-title-sub {
    letter-spacing: 0;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .main-paragraph-content {
    padding: 0;
    border-radius: 0;
  }
  .main-paragraph-title {
    padding-top: 0;
  }
  .main-arrow {
    margin-top: 1rem;
  }
  .main-page {
    margin: 0;
  }
}